name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'src/'
      - 'build.gradle'
      - 'settings.gradle'
      - 'Dockerfile'
      - '.github/workflows/workflow.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_SECRET }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/ilcm96/dku-opensource-sw-developement-project:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
